<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Board Game Price Search</title>
    <link href="../static/main.css" rel="stylesheet">
</head>
<body>
    <div class="container" id="grad">
        <h1>Board Game Price Search</h1>
        <h3>Please fill out the search field with the game you're looking to buy.</h3>
        <form action="{{ url_for('search') }}" method="POST">
            <label for="search" class="visually_hidden">
                <input id="search" title="The board game you're looking for." placeholder="your board game here..." name="search_name" required>
                <span>Search Box</span>
            </label>
            <button type="submit">Search</button>
            <div>
                <br/>
                <label class="checkbox"><input type="checkbox" name="sites" value="boardgamebliss" checked="checked">Board Game Bliss<span class="checkmark"></span></label>
                <label class="checkbox"><input type="checkbox" name="sites" value="401games" checked="checked">401 Games<span class="checkmark"></span></label>
                <label class="checkbox"><input type="checkbox" name="sites" value="meeplemart" checked="checked">Meeplemart<span class="checkmark"></span></label>
                <label class="checkbox"><input type="checkbox" name="sites" value="legendswarehouse" checked="checked">Legends Warehouse<span class="checkmark"></span></label>
                <label class="checkbox"><input type="checkbox" name="sites" value="woodforsheep" checked="checked">Wood for Sheep<span class="checkmark"></span></label>
                <label class="checkbox"><input type="checkbox" name="sites" value="lvlupgames" checked="checked">Lvl up games<span class="checkmark"></span></label>
            </div>

        </form>
        {{ text | safe }}
    </div>
    &nbsp;
</body>
</html>